/**
  Created by ayun 2018.6.21
 */

$btncolor: #367ce4;
$btnorang: #FD771E;
$btngray: #ccc;
$btngray-text: #484848;
$headercolor:#26303a;
$white:#fff;
$bodycolor: #f1f4f6;
$fontcolor:#000;
$leftNavBGColor:#367CE4;
$activeBGColor:#d7e5fa;

@mixin borderadius($size){
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

@mixin fullScreen{
    height: 100%;
}
@mixin clearfix{
  &:before,
  &:after{
    content: ' ';
    display: table;
  }
  &:after{
    clear: both;
  }
}