/**
  Created by ayun 2018.6.21
 */

@import "zui";
@import "_common_var";
@import "button";


body{
  position: relative;
  background-color: $bodycolor;
  color: $fontcolor;
  -webkit-text-size-adjust: 100%;
}
html,body{
  @include fullScreen;
}
/*header部分*/

.navbar{
  background-color: $headercolor;
  height: 60px;
  margin-bottom: 0;
  @include borderadius(0)
}
.navbar-nav{
  >li{
    >a{
      padding: 20px;
      color: $white;
      font-size: 16px;
      &:hover,
      &:focus,
      &:active{
        background-color: $btncolor;
      }
    }
  }
}

.navbar-right{
  >li{
    >a{
      >span,iconfont{
        font-size: 14px;
        color: $btngray;
      }
      &:hover,
      &:focus,
      &:active{
        background-color: $headercolor;
      }
    }
  }
}


//左侧导航部分
$leftNavBGColor:#fff;
$activeBGColor:skyBlue;
$activeLineColor:pink;
$LeftNavFontColor:#000;

.left-nav{
  position: fixed;
  width: 200px;
  left: 0;
  top: 60px;
  bottom: 0;
  padding-top: 20px;
  background-color: $leftNavBGColor;
  .nav >li>a:hover,.nav >li.active>a{
    background-color: $activeBGColor!important;
    color: $leftNavBGColor!important;
    :after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: $activeLineColor;
    }
  }
  .nav >li.active>a, .nav >li>a{
    position: relative;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: $LeftNavFontColor;
    img{
      margin-right: 10px;
    }
  }
  .nav li a:focus{
    background-color: #fff;
  }
}


