/**
  Created by ayun 2018.6.21
 */

@import "zui";
@import "_common_var";
@import "button";


body{
  position: relative;
  background-color: $bodycolor;
  color: $fontcolor;
  -webkit-text-size-adjust: 100%;
}

/*header部分*/

.navbar{
  background-color: $headercolor;
  height: 61px;
  margin-bottom: 0;
  @include borderadius(0);
  .navbar-nav {
    > li {
      > a {
        padding: 20px;
        color: $white;
        font-size: 16px;
        &:hover,
        &:focus,
        &:active{
          background-color: $btncolor;
        }
      }
      &.active{
        background-color: $btncolor;
      }
    }

  }

  .navbar-right{
    > li {
      > a {
        >span,iconfont{
          font-size: 14px;
          color: $btngray;
        }
        &:hover,
        &:focus,
        &:active{
          height: 60px;
          background-color: $headercolor;
        }
      }
    }
  }
}


// 内容

.page-wrapper{
  position: relative;
  height: calc(100% - 61px);
  @include clearfix;
  .right-content{
    @include fullScreen;
    padding: 80px 20px 0;
  }
  .left-nav+.right-content{
    margin-left: 200px;
  }
}

/*辅助类*/
.text{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.mt30{
  margin-top: 30px;
}
.mb30{
  margin-bottom: 30px;
}
.pl100{
  padding-left: 100px;
}
.echarts{
  height: 450px;
}




