/**
  Created by ayun 2018.6.22
 */

 @import "common_var";

//左侧导航部分
.left-nav{
    position: fixed;
    width: 200px;
    left: 0;
    top: 61px;
    bottom: 0;
    padding-top: 20px;
    background-color: $white;
    .nav >li>a:hover,.nav >li.active>a{
        background-color: $activeBGColor!important;
        color: $leftNavBGColor!important;
        :after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            background-color: $btncolor;
        }
    }
    .nav >li.active>a, .nav >li>a{
        position: relative;
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        color: $fontcolor;
        img{
            margin-right: 10px;
        }
    }
    .nav li a:focus{
        background-color: #fff;
    }
}
