/**
  Created by ayun 2018.6.21
 */

 @import "_common_var";


/*企业名称小面板*/
//.panel-line-primary{
//    @include borderadius(4px);
//    .panel-body{
//        padding: 0;
//    }
//    .panel-footer{
//        text-align: center;
//        background-color: #fff;
//    }
//}
//
// .panel{
//    border: 1px solid #ccc;
//
// }

/*页面小面板*/
.panel-line-primary{
  @include borderadius(0px);
 border: 1px solid #e6e6e6;
 .panel-title{
  font-size: 16px;
  font-weight: 400;
  .pull-right{
   margin-right: 10px;
   .form{
    float: left;
   }
   .operate{
    float: left;
    li{
     float: left;
     margin-left: 8px;
     line-height: 33px;
     font-size: 14px;
    }
   }
  }
 }
}
.panel-buttom{
 margin-bottom: 0px;
 border-bottom: 0;
}
.panel-top{
 border-top: 0;
}

.panel{
 box-shadow: none;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
 width: 100px;
}
