/**
  Created by ayun 2018.6.21
 */

 @import "_common_var";


/*企业名称小面板*/
.panel-line-primary{
    @include borderadius(4px);
    .panel-body{
        padding: 0;
    }
    .panel-footer{
        text-align: center;
        background-color: #fff;
    }
}

 .panel{
    border: 1px solid #ccc;
    
 }