/**
  Created by ayun 2018.6.21
 */
 @import "_common_var";

 .table-box{
     width: 450px;
 }
 .table{
     margin-bottom: 0px;
     thead{
         tr{
             height: 45px;
             border-bottom: 0;
         }
     }
 }