*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
  padding: 0;
}



//定义变量
$activeBlueColor:#367ce4;
$tabNormalColor:#808080;
$darkBlack:#333;
$lineDeepGrey:#e6e6e6;
$deepFontGrey:#8c989d;
$lightFontGrey:#b2b2b2;


//公司标题样式
.p-span{
  font-size: 14px;
  //color: #000000;
  span{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    img{
      margin-top: -8px;
    }
    //color: #000000;
  }
}
.deepFontGrey{
  color: $deepFontGrey;
  font-size: 14px;
}
.lightFontGrey{
  color: $lightFontGrey;
  font-size: 14px;
}
.blueFont{
  color: $activeBlueColor;
  font-size: 14px;
}

//搜索按钮
.btn-search,
.btn-search:hover,
.btn-search:active,
.btn-search:focus,
.btn-search:visited{
  background-color: $activeBlueColor;
  color: #ffffff;
  border-color: $activeBlueColor;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

}
.form-control{
  border-radius: 2px;
}
//筛选
.search-box{
  position: relative;
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  >.item:first-child{
    border: none;
  }
  .item .hidden-item{
    margin-left: -100px;
    border: none;
  }
  .show-more{
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 12px;
    color: #808080;
    cursor: pointer;
  }
  .item{
    position: relative;
    padding: 0 10px 0 100px;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
    .item-title{
      position: absolute;
      left: 20px;
      top: 0;
      display: inline-block;
      width: 100px;
      padding: 8px 0;
      color: $tabNormalColor;
    }
    .item-list{
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      li{
        float: left;
        width: 100px;
        padding: 8px 5px;
        text-align: left;
        color: $darkBlack;
        cursor: pointer;
        font-size: 14px;
        input{
          border: none;
          outline: none;
          font-size: 14px;
          cursor: pointer;
        }
      //  placeHold的颜色
        input::-webkit-input-placeholder{
          color: $darkBlack;
        }
        input:-moz-placeholder{
          color: $darkBlack;
        }
        input::-moz-placeholder{
          color: $darkBlack;
        }
        input:-ms-input-placeholder{
          color: $darkBlack;
        }

        select{
          border:none;
          outline: none;
          option{
            outline: none;
          }
        }

      }
      li.active{
        color: $activeBlueColor;
        label{
          color: $activeBlueColor;
        }
        input{
          color: $activeBlueColor;
        }
      }
    }
  }
  .item-hidden>.item:last-child{
    .item-title{
      padding-bottom: 0;
    }
    .item-list li{
      padding-bottom: 0;
    }
  }
}
//面板
.panel-heading{
    .panel-title{
      line-height: 34px;
    }
}
.have-bottom-border{
  border-bottom: 1px solid $lineDeepGrey;
}
.no-margin{
  margin: 0;
}
//面板2
.panel-dark {
  border: 1px solid $lineDeepGrey;
  border-radius: 0;
  .panel-heading{
    background-color: #fafafa;
    border-bottom:1px solid $lineDeepGrey;
    .panel-title{
      font-size: 14px;
      color: #898989;
      span{
        color: $activeBlueColor;
        cursor: pointer;
      }
    }
  }

}
//tab
.nav-my-style{
  margin-bottom: 20px;
  border: none;
  li{
    margin-right: 15px;
    :last-child{
      margin-right: 0;
    }
    a,
    a:hover,
    a:active,
    a:focus,
    a.active,
    a:visited{
      color: $tabNormalColor;
      border: none;
      background-color: #fff;
    }
  }
  li:hover,li.active
  {
    a,
    a:hover,
    a:active,
    a:focus,
    a.active,
    a:visited{
      color: $activeBlueColor;
      background-color: #fff;
      border: none;
    }
    :after{
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 4px;
      width: 100%;
      background-color: #2a93ed;
    }
  }

}

//下拉框样式
.my-select{
  .btn,
  .btn:active,
  .btn:focus,
  .btn:visited,
  .btn:hover{
    font-size: 14px;
    background-color: #fff!important;
    border:1px solid $lineDeepGrey!important;
    outline: none!important;
    span{
      color: #666666;
    }
  }
  a,
  a:active,
  a:focus,
  a:visited,
  a:hover{
    outline: none;
  }
}


//精准招商-智能推荐-优质企业
.company-box{
  margin: -15px;
  .item{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid $lineDeepGrey;
    .col-md-2{
      position: static;
    }
    .num{
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 14px;
      color: #808080;
      cursor: pointer;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      i.glyphicon{
        //vertical-align: middle;
        line-height: 20px;
        margin-right: 5px;
        font-size: 12px;
      }
      span.red-num{
        font-size: 22px;
        color: #ff5329;
      }
    }
    .btn-bottom{
      position: absolute;
      right: 15px;
      bottom: 15px;
      font-size: 14px;
      color: #ffffff;
    }
    .company-img{
      height: 120px;
      width: 100%;
      border: 1px solid #f1f4f6;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .company-btn-box{
      position: absolute;
      display: flex;
      justify-content: space-around;
      right: 15px;
      bottom: 15px;
      width: 300px;
    }

    div{
      //margin-bottom: 10px;
      span{
        margin-right: 20px;
        //color: #898989;
        font-size: 14px;
      }
    }
    .company-message,.company-tab{
      margin-bottom: 10px;
    }
    .company-message>span{
      color: #898989;
    }
    .company-tab>span,.company-tab>i{
      color: $activeBlueColor;
    }
    .company-tab>i{
      margin-right: 5px;
    }

  }
  .item:last-child{
    border-bottom: none;
  }


}
