/**
 Created by ayun 2018.6.20
 */
/**
  Created by ayun 2018.6.21
 */
.btn {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none !important;
}

.btn .iconfont {
  font-size: inherit;
}

.btn-group .btn {
  padding-left: 5px;
}

.btn-fill-gray {
  color: #484848;
  text-align: center;
  border-color: #ccc;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.btn-fill-gray:hover, .btn-fill-gray:focus, .btn-fill-gray:active {
  color: #484848;
}

.btn-blue {
  border-color: #2a93ed;
  background-color: #2a93ed;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
  color: #fff;
}

.btn-orange {
  background-color: #FD771E;
  border-color: #FD771E;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
  color: #fff;
}

.btn-fill-blue {
  color: #2a93ed;
  border-color: #2a93ed;
  background-color: #E3F4FF;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-fill-blue:hover, .btn-fill-blue:focus, .btn-fill-blue:active {
  color: #2a93ed;
}
