/**
  Created by ayun 2018.6.22
 */
/**
  Created by ayun 2018.6.21
 */
.left-nav {
  position: fixed;
  width: 200px;
  left: 0;
  top: 61px;
  bottom: 0;
  padding-top: 20px;
  background-color: #fff;
}

.left-nav .nav > li > a:hover, .left-nav .nav > li.active > a {
  background-color: #d7e5fa !important;
  color: #367CE4 !important;
}

.left-nav .nav > li > a:hover :after, .left-nav .nav > li.active > a :after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #367ce4;
}

.left-nav .nav > li.active > a, .left-nav .nav > li > a {
  position: relative;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #000;
}

.left-nav .nav > li.active > a img, .left-nav .nav > li > a img {
  margin-right: 10px;
}

.left-nav .nav li a:focus {
  background-color: #fff;
}
